.book-details {
  text-align: start;
  font-family: 'Hina Mincho', cursive, serif;
}

strong {
  font-family: 'Caveat', cursive, serif;
  font-size: 1.3em;
  font-weight: lighter;
}

h3 {
 font-family: 'Caveat', cursive, serif;
}

.book-details-image {
  max-height: 600px;
  object-fit: contain;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.details-button {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
}

.book-icon {
    height: 40px;
    width: auto;
    
}

.fade-in {
  opacity: 0;
  animation: fadeIn 1.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down-cascade {
  opacity: 0;
  animation: fadeSlideDown 1.4s ease-out forwards;
   animation-fill-mode: both;
}

.fade-down-cascade.fade-delay-1 {
  animation-delay: 0.5s;
}

.fade-down-cascade.fade-delay-2 {
  animation-delay: 0.8s;
}

.fade-down-cascade.fade-delay-3 {
  animation-delay: 1.2s;
}

.fade-down-cascade.fade-delay-4 {
  animation-delay: 1.6s;
}

.fade-down-cascade.fade-delay-5 {
  animation-delay: 2s;
}

.fade-down-cascade.fade-delay-6 {
  animation-delay: 2.4s;
}

.fade-down-cascade.fade-delay-7 {
  animation-delay: 2.8s;
}

.fade-down-cascade.fade-delay-8 {
  animation-delay: 3.2s;
}
