.book-card {
    max-width: 280px;
    background-color: rgb(245,242,241);
    font-family: 'Hina Mincho', cursive, serif;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-size: 1.5em !important;
    font-weight: normal;
    text-align: center;
}

.card-text {
    font-size: 1.2em;
} 

.book-card img {
    width: 100%;
    object-fit: contain;
    display: block;
    margin-top: 1.5em;
    max-height: 300px;
}

.details-button, .buy-button {
    padding: 0.6em 1em !important;
    font-size: 1.2em !important;
}

.buy-button {
    color: #6c4e2a !important;
    background-color: transparent !important;
    border: 1px solid #826249 !important;
    transition: all 0.3s ease-in-out !important;
}

.details-button {
    color: #000000 !important;
    background-color: transparent !important;
    border: 1px solid #000000 !important;
    transition: all 0.3s ease-in-out !important;
}

.buy-button:hover, .details-button:hover {
    background-color: #f6ebdf !important;
    color: #4b3820 !important;
}


@media (max-width: 850px) {
.book-card {
    max-width: 200px;
    background-color: rgb(245,242,241);
    font-family: 'Caveat', cursive, serif;
}

.card-title {
    font-size: 1.3em;
    font-weight: lighter;
}

.book-card img {
    width: 100%;
    object-fit: contain;
    display: block;
    margin-top: 1.5em;
    max-height: 250px;
}

.b-details-btn, .b-buy-btn {
    padding: 0.6em 0.7em !important;
    font-size: 1em !important;
}

}

@media (max-width: 576px) {
.book-card {
    max-width: 250px;
    background-color: rgb(245,242,241);
    font-family: 'Caveat', cursive, serif;
}

.card-title {
    font-size: 1.3em;
    font-weight: lighter;
}

.book-card img {
    width: 100%;
    object-fit: contain;
    display: block;
    margin-top: 1.5em;
    max-height: 300px;
}

.b-details-btn, .b-buy-btn {
    padding: 0.6em 0.7em !important;
    font-size: 1.2em !important;
}
}