.book-details {
  text-align: start;
  font-family: 'Hina Mincho', cursive, serif;
}

strong {
  font-family: 'Hina Mincho', cursive, serif;
  font-size: 1.1em;
  font-weight: bold;
}

h4 {
 font-family: 'Caveat', cursive, serif;
}

.book-details-image {
  max-height: 500px;
  object-fit: contain;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.details-button {
  padding: 0.5em 1.5em;
  font-size: 1.2em;
}

.book-icon {
    height: 40px;
    width: auto;   
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2.5s ease-in forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes fadeSlideDown {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-down-cascade {
  opacity: 0;
  animation: fadeSlideDown 1s ease-out forwards;
   animation-fill-mode: both;
}

.fade-down-cascade.fade-delay-1 {
  animation-delay: 0.3s;
}

.fade-down-cascade.fade-delay-2 {
  animation-delay: 0.6s;
}

.fade-down-cascade.fade-delay-3 {
  animation-delay: 0.9s;
}

.fade-down-cascade.fade-delay-4 {
  animation-delay: 1.2s;
}

.fade-down-cascade.fade-delay-5 {
  animation-delay: 1.5s;
}

.fade-down-cascade.fade-delay-6 {
  animation-delay: 1.8s;
}

.fade-down-cascade.fade-delay-7 {
  animation-delay: 2.1s;
}

.fade-down-cascade.fade-delay-8 {
  animation-delay: 2.4s;
}
