.color-section {
  width: 100%;
  height: 300px; 
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  overflow: hidden;
}

.color-image-col,
.color-text-col {
  flex: 1; 
  height: 100%;
}

.color-image-col img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.color-text-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.color-text-col .kanji {
    font-family: 'Hina Mincho', serif;
    font-size: 3.5rem;
}

.color-text-col .translation {
    font-family: 'Caveat', cursive;
    font-size: 1.9rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}
