.cart-badge {
  position: absolute;
  top: -7px;
  right: -8px;
  font-size: 0.8rem;
  padding: 5px 5px;
  z-index: 10;
  color: white;
}

.custom-dropdown .dropdown-menu {
  min-width: 300px !important;
  font-family: "Hina Mincho";
}

.custom-dropdown .dropdown-menu strong {
  font-family: "Hina Mincho";
}

.custom-dropdown-user .dropdown-menu {
  min-width: 50px !important;
  font-family: "Hina Mincho";
}

.custom-dropdown-user {
  margin-top: 0.2rem;
}

.cart-badge {
  font-family: "Hina Mincho", serif;
}

.form-label {
  font-size: 1.6rem;
}

.custom-form input,
.custom-form textarea,
.custom-form select {
  font-family: "Hina Mincho", serif;
  font-size: 1.1rem; 
}

.card {
   background-color: rgb(245,242,241) !important;
}

.login-form input {
  font-family:  "Hina Mincho", serif;
  font-size: 1.1rem;
}

.list-group, .list-group-item {
  font-family:  "Hina Mincho", serif;
  font-size: 1rem;
  background-color:  rgb(249, 244, 242) !important;
}

.list-group strong {
  font-family:  "Hina Mincho", serif;
  font-size: 1rem;
  font-weight: bold;
}

.bin-icon {
  margin-top: -0.3rem;
  cursor: pointer;
}

.total {
 font-family:  "Hina Mincho", serif;
}

.total button {
  font-size: 1.3rem;
}

.item-title {
  font-weight: bold;
}

.item-price {
  font-size: 1rem;
}

.digital-card {
   font-family:  "Caveat", serif;
   font-size: 1.7rem;
}

.digital-card strong {
   font-family:  "Hina Mincho", serif;
   font-size: 1.6rem;
}

.user-card p {
  font-size: 1.5rem;
}