
.welcome-section {
  margin-top: 1em;
}

.welcomep{
  font-family: 'Yuji Syuku';
  font-size: 3.3em;
  line-height: 1.5;
  margin: 0;             
}

.welcomep-it{
  font-family: 'Caveat';
  font-size: 1.6em;
  line-height: 2;
  margin: 0;             
}

.paragraph {
  font-family: 'Caveat';
  font-size: 1.8em;
  margin-top: 0.8em;
} 

.weather {
  font-size: 1.3rem;
  padding: 0.4em 0.8em;
}

.weather strong {
   font-size: 1.6rem;
}

.weather-icon {
  height: 40px;
}

.season-title {
  font-size: 1.6rem;
  padding-top: 0.4em;
}

.season-title-jp {
  font-family: 'Klee One', serif;
  font-size: 1.5rem;
}

.welcome-icon {
  height: 45px;
}

p {
   font-size: 1.4rem;
}

.season-button {
  font-size: 1.2rem !important;
  padding: 1em 1.2em;
}

@media (max-width: 850px) {
.paragraph {
  font-size: 1.3em;
}

.weather {
  font-size: 0.8em;
   padding-top: 0.4em;
}

.weather-icon {
  height: 25px;
}

.season-title {
  font-size: 1.1rem;
  font-weight: bold;
  padding-top: 0.4em;
} 

.season-title-jp {
  font-size: 1rem;
}

.season-button {
  font-size: 0.8em;
  background-color: transparent;
  width: 100px;
}

p {
   font-size: 0.9rem;
}

.welcome-icon {
  height: 35px;
}

}

@media (max-width: 576px) {
.paragraph {
  font-size: 1.2em; 
  margin-top: 1.5em;
}

.weather {
  font-size: 1em;
}

.custom-footer {
  font-size: 1em;
}

.search-input {
  width: 100%;
  max-width: 70px;
}

.season-title {
  font-size: 1.2rem;
} 

.season-title-jp {
  font-size: 1rem;
}

p {
   font-size: 1.1rem;
}

.season-button {
  font-size: 1.1em;
  width: 140px;
  padding: 0.4em 0.5em; 
}
}